body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

.titulo{
    font-size: 25px;
}

.listado{
    margin-top: -2%;
    font-size: 20px;
}
