body{
    background-color: bisque;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
}

.listado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 25%;
    padding: 10px;
    border: 1px solid #000;
}

.item2{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    flex-basis: 25%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 20px;
}

.item3{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 25%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 20px;
}

.item4{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    flex-basis: 25%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 20px;
}

.item img {
    max-width: 100%;
    height: auto;
}

img{
    max-width: 75%; 
    margin-top: 20px;
}

